


body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    
    
}

img {
    max-width: 100%;
    height: auto;
}


h1, h2, h3, h4, h5 {
 font-family: proxima-nova,sans-serif;
 font-style: normal;
} 
 
h3 {
 text-transform:capitalize;
 font-size:1.875em;
 padding:0 0 1% 0;
 color:#001833;
 font-weight:800;
}


    



  