.about-me-image {
    display: block;
    border: 5px solid $mainCream;
    margin-top: 13em;
    border-radius: 50%;
    
    @mixin atSmall {
        margin-top: 21em;
        border: 7px solid $mainCream;
    }
    
    @mixin atMedium {
        margin-top: 29em;
        border: 9px solid $mainCream;
    }
    
    @mixin atLarge {
        margin-top: 32em;
    }
}

.about-me-section {
    position: relative;
    }
    
    
    .about-me-section__h2 {
    position: relative;
    font-size: 1.1rem;    
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: $mainCream;
        
        @mixin atSmall {
            font-size: 1.5rem;  
        }
    @mixin atMedium {
            font-size: 1.9rem;  
        }
    
    
}

.about-me-h3 {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #001833;
    font-weight: 600;
    &--b-margin {
        margin-top: 1em;
        margin-bottom: .5em;
        @mixin atSmall {
            font-size: 1.8rem;
            margin-top: 2em;
        }
    }
}

.about-me-content {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    color: rgb(87, 96, 105);
    letter-spacing: .03;
    margin: 10px auto;
    font-size: 1.1rem;
    
    @mixin atSmall {
        font-size: 1.3rem;
    }
}

.about-me-ul li {
    margin-bottom: 1rem;
}
