.intro {
    position: relative;
    &__header-background-image {
        max-height: 520px;
        width: 100vw;
    }
    
    &__text-image-content {
        position: absolute;
        background-color: ;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }
    
    &__text-image-content img {
        border-radius: 50%;
    }
    
}

.intro h1 {
    margin-bottom: 6.5rem;
    font-size: 5.5rem;
    text-align: center;
    color: rgba(245, 221, 187, 0.99);
    letter-spacing: 0.1rem;
    font-weight: 900;
    line-height: .8rem;
    text-shadow: 3px 3px 0 rgba(0,0,0, .5)
}

.intro h2 {
    font-size: 2.5rem;
    text-align: center;
    color: rgba(245, 221, 187, 0.99);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 19.6rem;
    text-shadow: 2px 2px 0 rgba(0,0,0, .3)
}


.about-me {
    padding: 2% 0%;
}

.about-me p {
    font-family: proxima-nova, sans-serif;
    color: #f5d8b1;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    color: rgb(87, 96, 105);
    letter-spacing: .03;
    margin: 10px auto;
    font-size: 1.5rem;
    padding: 1% 0;
}
