.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    font-family: proxima-nova, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
    
    &--narrow {
        max-width: 400px;
    }
   
}